$primary-color: rgb(191, 224, 3);
$primary-light: rgb(224, 228, 0);
$primary-dark: rgb(181, 206, 43);
$secondary-color: rgb(91, 2, 194);
$secondary-light: rgb(163, 124, 209);


$primary-text: rgb(49, 49, 49);
$secondary-text: white;